:root{
    --white: #FFFFFF;
    --black: #000000;
    --green: #009688;
    --light-grey: #DBDBD3; 
    --icons-grey: #B1B1B1;
    --nav-grey: #EAEAEA;
    --light-blue: #8EDAFC;
    --msg-send: #D5F9BA;
    --box-msg: #F3EEEA;
    --active-contact: #E9EBEB;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, var(--green) 15%, var(--light-grey) 15% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#app{
    display: flex;
    width: 80%;
    height: 90%;
    background-color: var(--white);
}

#left-section {
    height: 100%;
    width: 30%;
    min-width: 500px;
}

#right-section {
    height: 100%;
    width: 70%;
    min-width: 500px;
    border-left: 1px solid var(--light-grey);
}

/* LEFT-SECTION */
#user-nav {
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    background-color: var(--nav-grey);
}
.profile-user{
    border-radius: 50%;
    max-width: 60px;
    margin-right: 10px;
}
.nav-icons{
    color: var(--icons-grey);
}
.notifications{
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 10px 20px;
    background-color: var(--light-blue);
}

.bell-background{
    background-color: var(--white);
    color: var(--light-blue);
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
#search{
    width: 100%;
    padding: 10px;
    background-color: var(--white);
}
.glass{
    width: 80px;
    height: 40px;
    line-height: 40px;
    border: 1px solid var(--nav-grey);
    border-right: 0;
    background-color: var(--white);
    color: var(--icons-grey);
}
.search-contacts{
    width: calc(100% - 80px);
    height: 40px;
    background-color: var(--white);
    border: 1px solid var(--nav-grey);
    padding: 10px;
}
.contact-list{
    width: 100%;
    height: calc(100% - 220px);
    background-color: var(--white);
    overflow-y: scroll;
}
.box-list{
    cursor: pointer;
}
/* RIGHT-SECTION */
#contact-nav{
    width: 100%;
    height: 70px;
    padding: 10px 20px;
    background-color: var(--nav-grey);
}
.message-box{
    width: 100%;
    height: calc(100% - 150px);
    background-image: url(../img/mine.jpg);
    background-position: center;
    padding: 50px 70px;
    overflow-y: scroll;
}
.msg{
    width: 400px;
    padding: 10px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.sent{
    align-self: flex-end;
    background-color: var(--msg-send);
}
.received{
    background-color: var(--white);
}
.input-box{
    width: 100%;
    height: 80px;
    background-color: var(--box-msg);
    padding: 10px 30px;
}
.msg-input{
    width: 100%;
    height: 100%;
    margin: 0 40px;
    padding: 10px;
    border: 1px solid var(--icons-grey);
    background-color: var(--white);
    border-radius: 10px;
}

.active {
    background-color: var(--active-contact);
}